h1
{
  text-align: center;
  color: #c06014;
}
body
{
  background-color: #f8ede3;
}
div
{
  height: 200px;
  width: 200px;
  padding: 10px;
  border: 2px solid;
  position: relative;
}
.block
{
  margin: 10px;
}
.block1
{
  background-color: #865858;
}
.block2
{
  margin-left: 224px;
  background-color: #8e7f7f;
}
.block3
{
  margin-left: 448px;
  background-color: #bbbbbb;
}
.block21
{
  width: 434px;
  background-color: #865858;
  margin-bottom: 10px;
}
.block22
{
  float: left;
  background-color: #8e7f7f;
  margin-right: 10px;
}
.block23
{
  margin-left: 234px;
  background-color: #bbbbbb;
}
.block31
{
  float: left;
  background-color: #865858;
  margin-right: 10px;
  margin-bottom: 10px;
}
.block32
{
  float: left;
  background-color: #8e7f7f;
}
.block33
{
  background-color: #bbbbbb;
  clear:both;
}
a
{
  display: block;
}
